
@model BizeUlasin
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>message delete</title>
</head>
<body>
    <div>
        <h4>Mesaj Silinsin mi?</h4>
        <hr />
        @using (Html.BeginForm("BizeUlasinDelete", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AdSoyad)
                </dt>
                <dd>

                    @Html.TextBoxFor(x => x.AdSoyad, new { @readonly = "true" })
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Mesaj)
                </dt>
                <dd>

                    @Html.TextBoxFor(x => x.Mesaj, new { @readonly = "true" })
                </dd>

            </dl>
            <input type="submit" name="name" value="Sil" class="btn btn-danger" />
        }
    </div>
</body>
</html>

